<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Back-end Login</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<div class="container">

<div class="login-wrapper">
    <div class="header">
        Login
    </div>

    <form action="/admin/login_submit" method="post">
        <table>

            <tr>
                <td>Username</td>
                <td>
                    <input type="text" name="userName" required="required">
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" required="required">
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login">
                    <div th:text="${err}" style="color:red;"></div>
                </td>
            </tr>

        </table>
    </form>
</div>
</div>
</body>
</html>



